{% load static %}
<!---------------------------- footer start ---------------------------->
<footer>
    <div class="container-fluid total-footer">
        <div class="row footer-upper">
            <div class="footer-up-text">
                <span>Our Product:</span>
            </div>
            <div class="footer-up-list">
                <ul class="list-unstyled daftar-gambar">
                    <li><img src="{% static "img/logo-grey-alphapay.png"%}"></li> <!--alphapay-->
                    <li><img src="{% static "img/logo-grey-sepulsa.png"%}"></li> <!--sepulsa-->
                    <li><img src="{% static "img/logo-grey-alphabill.png"%}"></li> <!--alphabill-->
                </ul>
            </div>
        </div>
        <div class="row footer-lower">
            <span class="font-weight-bold">Contact Person:</span><span> Mobile phone: 0877 9609 9530 Email:academy@alphatech.id</span>
        </div>
    </div>
</footer>
<!---------------------------- footer end ------------------------------>