<!-------------------------- header start -------------------------------->
<header>
    <div class="container-fluid all-header">
        <div class="row total-header align-item-center">
            <div class="col-md-3">
                <span>Alpha Tech Academy</span>
            </div>
            <div class="col-md-4">
                <!-- NONE, for spacing -->
            </div>
            <div class="col-md-5">
                <div class="header--nav">
                    <ul class="header--nav-list list-unstyled">
                        <li><a href="{% url 'viewmodeltemplate:blog' %}">Blog</a></li>
                        <li><a href="{% url 'viewmodeltemplate:mentee' %}">Mentee</a></li>
                        <li><a href="{% url 'viewmodeltemplate:mentor' %}">Mentor</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-------------------------- header end -------------------------------->