{% load static %}
<div class="content-top">
    <div class="container-fluid">
        <div class="row content-top-img">
            <img src="{% static "img/alpha-logo.png"%}" alt="logo alpha">
        </div>
        <div class="row content-top-texts">
            <h1>Alpha Tech Academy</h1>
            <span class="container text-long">Alpha Tech Academy is a tech talent incubator that gives everyone (even non IT background) a chance to be a professional Tech Talent within 3 months. Contact Person: Email : academy@alphatech.id Mobile phone:0877 9609 9530</span>
        </div>
    </div>
</div>