<!---------------------------main article start------------------------->
{% extends 'base.html' %}
{% block title %}
Blog
{% endblock %}
{% block content %}
{% load static %}
    {% include 'top-content-blog.html' %}
    <div class="d-flex justify-content-center">
        <button type="button" class="btn align-self-center flex-column">
            <a href="{% url 'viewmodeltemplate:blog_input' %}">Tambahkan posting blog baru</a>
        </button>
    </div>
        {% if blog_object %}
        {% for bo in blog_object %}
            <div class="content-singles container">
                <div class="d-flex justify-content-center blog-img-wrapper">
                    <img src="{{bo.image}}" alt="" class="content-img">
                </div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        Posted at {{bo.createdat}}
                    </div>
                    <div class="col-md-6 text-right">
                        {{bo.comment}} Komen
                    </div>
                </div>
                <h1 class="text-center">{{bo.title}}</h1>
                <div class="content-text text-justify">
                    {{bo.content}}
                </div>
                <a href="{% url 'viewmodeltemplate:blogpost' bo.id %}">Baca Lebih Lanjut</a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
